<ng-container *ngIf="headerService.isEnabled$ | async">
    <div class="peek-header-component">
        <button (click)="navBackService.navBack()" class="back-button">
            <i nz-icon nzTheme="outline" nzType="arrow-left"></i>
        </button>
        <div class="header-title">
            {{ headerService.title$ | async }}
        </div>
        <div class="buttons" role="group">
            <button [routerLink]="['/']">
                <i nz-icon nzTheme="outline" nzType="home"></i>
            </button>
            <button
                *ngFor="let link of headerService.links$ | async"
                [routerLink]="[link.resourcePath]"
            >
                <nz-badge [nzCount]="link.badgeCount">
                    <i
                        class="count"
                        nz-icon
                        nzTheme="outline"
                        nzType="{{ link.antIcon || 'question-circle' }}"
                    ></i>
                </nz-badge>
            </button>
            <button (click)="showSearchClicked()">
                <i nz-icon nzTheme="outline" nzType="search"></i>
            </button>
        </div>
    </div>

    <core-search-component [(showSearch)]="showSearch"></core-search-component>
</ng-container>
