@import '~@synerty/peek-plugin-base-js/src/styles/_mixins';
@import '~@synerty/peek-plugin-base-js/src/styles/_variables';
@import "src/variables.scss";

.peek-page-contents {
  overflow-y: scroll;
  position: fixed;
  top: $header-height;
  bottom: 0;
  left: 0;
  right: 0;
}
