<ActionBar [title]="title" [class.bg-danger]="!vortexIsOnline">

    <ActionItem [nsRouterLink]="['/']" text="Home"
                ios.position="left"></ActionItem>

    <ActionItem *ngFor="let link of leftLinks"
                [nsRouterLink]="[link.resourcePath]"
                [text]="link.text"
                ios.position="left"></ActionItem>

    <ActionItem *ngFor="let link of rightLinks"
                [nsRouterLink]="[link.resourcePath]"
                [text]="link.text"
                ios.position="right"></ActionItem>
</ActionBar>