<div class="home-page">
    <div class="page-row">
        <a
            *ngFor="let link of homeLinks"
            [routerLink]="[link.resourcePath]"
            class="row-button"
        >
            <div class="button-image">
                <img [src]="[link.pluginIconPath]" />
            </div>
            <div class="button-title">{{link.title}}</div>
        </a>
        <a routerLink="/config" class="row-button">
            <div class="button-image">
                <i nz-icon nzTheme="outline" nzType="setting"></i>
            </div>
            <div class="button-title">Settings</div>
        </a>
    </div>
</div>
