<div class="home-page">
    <div class="page-row">
        <div
            *ngIf="!homeLinks.length"
            class="page-message"
        >
            No Plugins Installed
        </div>
        <a
            *ngFor="let link of homeLinks"
            [routerLink]="[link.resourcePath]"
            class="row-button"
        >
            <div class="button-image">
                <img
                    [src]="[link.pluginIconPath]"
                >
            </div>
            <div class="button-title">
                {{link.title}}
            </div>
        </a>
    </div>
</div>
