<GridLayout class="peek-footer-bar"
            [class.bg-danger]="!vortexIsOnline"
            rows="auto"
            columns="auto, *, auto">

    <Button *ngIf="isEnabled" row="0" col="0"
            class="footer-bar-btn"
            [text]="'chevron-left' | fonticon"
            (tap)="navBackService.navBack()">
    </Button>

    <Label row="0" col="1"
           class="footer-bar-footer"
           [text]="statusText"> </Label>

    <WrapLayout row="0" col="2" *ngFor="let link of configLinks">
        <Button *ngIf="isEnabled"
                class="footer-bar-btn"
                [text]="'cog' | fonticon">
        </Button>
    </WrapLayout>

</GridLayout>
s