<balloon-msg-queue-component></balloon-msg-queue-component>
<header-component></header-component>
<status-component></status-component>
<div class="peek-page-contents">
    <peek-main-root-components
        *ngIf="!showLoading()"
    ></peek-main-root-components>
    <core-device-loading *ngIf="showLoading()"></core-device-loading>
    <router-outlet [hidden]="showLoading()"></router-outlet>
</div>
