@import '~@synerty/peek-plugin-base-js/src/styles/_mixins';
@import '~@synerty/peek-plugin-base-js/src/styles/_variables';

.peek-page-contents {
  overflow-y: scroll;
  position: fixed;
  top: $title_bar_height;
  bottom: 0;
  left: 0;
  right: 0;
}
