<div class="config-page">
  <div class="page-card">
    <div class="card-header">
      <div class="header-title">App Info</div>
    </div>
    <div class="card-row">
      <div class="value">Name</div>
      <div class="end-value">Peek Field App</div>
    </div>
    <div class="card-row">
      <div class="value">Version</div>
      <div class="end-value">v0.0.0</div>
    </div>
  </div>
  <div class="page-card">
    <div class="card-header">
      <div class="header-title">Config Options</div>
    </div>
    <div class="column-links">
      <a class="column-link" [routerLink]="[link.resourcePath]" *ngFor="let link of configLinks">
        {{link.title}}
      </a>
    </div>
  </div>
</div>
