<GridLayout rows="auto" columns="auto, *, auto"
            [class.bg-danger]="!vortexIsOnline">

  <Button class="btn" col="0" row="0"
          text="Home" [nsRouterLink]="['/']">

  </Button>

  <Button class="btn"
          *ngFor="let link of leftLinks"
          col="0" row="0"
          [text]="linkTitle(link)"
          [nsRouterLink]="[link.resourcePath]">

  </Button>

  <Label class="text-center text-uppercase h2"
         col="1" row="0"
         [text]="title">

  </Label>

  <Button class="btn"
          *ngFor="let link of rightLinks"
          col="2" row="0"
          [text]="linkTitle(link)"
          [nsRouterLink]="[link.resourcePath]">

  </Button>
</GridLayout>
