<Label class="h1"
       *ngIf="!appDetails.length"
       text="No Plugins Installed">

</Label>

<ScrollView class="peek-home-screen">
  <WrapLayout>
    <GridLayout class="icon"
                *ngFor="let app of appDetails"
                rows="*,auto" columns="*"
                [nsRouterLink]="[app.resourcePath]">
      <Image class="image"
             row="0" col="0"
             src="~{{app.pluginIconPath}}">

      </Image>
      <Label class="title"
             row="1" col="0"
             [text]="app.title">

      </Label>
    </GridLayout>
  </WrapLayout>
</ScrollView>
