<Label class="h1 text-center"
       *ngIf="appDetails.length"
       text="No Plugins Installed">

</Label>

<ScrollView>
  <WrapLayout>
    <GridLayout class="home-icon"
                *ngFor="let app of appDetails"
                rows="*,auto" columns="*"
                [nsRouterLink]="[app.resourcePath]">
      <Image row="0" col="0"
             src="~{{app.pluginIconPath}}">

      </Image>
      <Label class="text-center h3"
             row="1" col="0"
             [text]="app.title">

      </Label>
    </GridLayout>
  </WrapLayout>
</ScrollView>
