<ng-container *ngIf="headerService.isEnabled$ | async">
  <div class="footer">
    <div class="buttons" role="group">
      <button [routerLink]="['/peek_plugin_pof_field_incidents']" *ngIf="fieldIncidentsEnabled$ | async">
        <nz-badge [nzCount]="notificationService.fieldIncidentsCount$ | async">
          <i nz-icon nzType="mail" nzTheme="outline"></i>
        </nz-badge>
      </button>
      <button [routerLink]="['/peek_plugin_pof_field_switching']" *ngIf="fieldSwitchingEnabled$ | async">
        <nz-badge [nzCount]="notificationService.fieldSwitchingCount$ | async">
          <i nz-icon nzType="mail" nzTheme="outline"></i>
        </nz-badge>
      </button>
      <button [routerLink]="['/peek_plugin_inbox']" *ngIf="inboxEnabled$ | async">
        <nz-badge [nzCount]="notificationService.inboxCount$ | async">
          <i nz-icon nzType="mail" nzTheme="outline"></i>
        </nz-badge>
      </button>
      <button [routerLink]="['/peek_plugin_pof_chat']" *ngIf="sosEnabled$ | async">
        <i nz-icon nzType="mail" nzTheme="outline"></i>
      </button>
    </div>
  </div>
</ng-container>
