@import '~@synerty/peek-plugin-base-js/src/styles/variables';

.footer {
  height: 56px;
  display: flex;
  align-items: center;
  background: $brand;
  color: #fff;
  box-shadow: 0 -3px 8px rgba(0, 0, 0, 0.2);
  z-index: 1;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  .buttons {
    display: flex;
    align-items: center;
    height: 100%;
    flex: 1;

    > button {
      display: flex;
      align-items: center;
      justify-content: center;
      border-right: 1px solid rgba(255,255,255, .1);
      height: 100%;
      flex: 1;

      > * {
        font-size: 16px;
      }

      .text {
        padding: 8px;
        font-size: 14px;
      }
    }
  }
  //
  //.page-title {
  //  display: flex;
  //  align-items: center;
  //  padding-left: 8px;
  //  flex: 1;
  //  height: 100%;
  //  font-size: 14px;
  //}
  //
  //.status {
  //  width: 56px;
  //  height: 100%;
  //  display: flex;
  //  align-items: center;
  //  justify-content: center;
  //}
}
