<ng-container *ngIf="headerService.isEnabled$ | async">
  <div class="header">
    <div class="buttons" role="group">
      <button (click)="navBackService.navBack()">
        <i nz-icon nzType="arrow-left" nzTheme="outline"></i>
      </button>
      <button [routerLink]="['/']">
        <i nz-icon nzType="home" nzTheme="outline"></i>
      </button>
      <button [routerLink]="['/peek_core_user']">
        <i nz-icon nzType="user" nzTheme="outline"></i>
      </button>
      <button (click)="showSearchClicked()">
        <i nz-icon nzType="search" nzTheme="outline"></i>
      </button>
      <button [routerLink]="['/config']">
        <i nz-icon nzType="setting" nzTheme="outline"></i>
      </button>
    </div>
  </div>

  <plugin-search [(showSearch)]="showSearch"></plugin-search>
</ng-container>
