$background-color: #fafafa;
$container-background-color: #fff;
$border-color: rgba(0,0,0,.1);
$header-height: 56px;
$primary-color: #26abe2;
$icon-size: 20px;
$color: rgba(0,0,0,.85);
$disabled-color: rgba(0,0,0,.3);
$disabled-background-color: #eee;
$box-shadow: 0 8px 24px -6px rgba(0, 0, 0, 0.2);
$semi-bold: 500;
$bold: 600;
