/* You can add global styles to this file, and also import other style files */

@import '~@synerty/peek-plugin-base-js/src/styles/ant_design';
@import "src/variables.scss";

html, body {
  margin: 0;
  background: $background-color;
}

button {
  -webkit-appearance: button;
  -webkit-writing-mode: horizontal-tb !important;
  text-rendering: auto;
  color: inherit;
  display: inline-block;
  text-align: center;
  cursor: pointer;
  background-color: inherit;
  box-sizing: border-box;
  margin: 0px;
  font: inherit;
  padding: 0px;
  border: none;
}
